/************************
    General
************************/
body{
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}

ul{
    list-style: none;
}
/************************
    Heading
************************/
header{
    float: left;
    margin: 0 0 30px 0;
}

#logo{
    text-align: center;
    margin: 0;
}
h1{
    font-family: 'Changa One', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 0.8em;
}
h2{
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
}
/************************
    Navigation
************************/
nav{
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul{
    margin: 0 10px;
    padding: 0;
}

nav li{
    display: inline-block;
}
nav a{
    font-weight: 800;
    padding: 15px 10px;
}
/************************
    Footer
************************/

/************************
    Page: Portfolio
************************/

/************************
    Page: About
************************/

/************************
    Page: Contact
************************/

/************************
    Colors
************************/